.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 10px;  /* Añadí un padding extra para que se vea mejor */
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1100; /* Asegúrate de que sea más alto que el dashboard */
}

.navbar-logo-title {
  display: flex;
  align-items: left;
}

.navbar-logo img {
  height: 40px;
}

.navbar-title {
  font-family: 'Poppins', sans-serif;  /* Una fuente moderna y estilizada */
  font-size: 24px;
  color: #fff;
  /* margin: 0 20px 0 10px; */
}

.navbar-title-group{
  display: flex;
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 50px;
}

.navbar-links li a,
.logout-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.logout-link {
  cursor: pointer;
}

.logout-link:hover,
.navbar-links li a:hover {
  text-decoration: underline;
}

.user-dropdown {
  position: relative;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  list-style: none;
  padding: 10px;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu li {
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}

.dropdown-menu li:hover {
  background-color: #444;
}

.navbar-links li {
  margin-right: 30px;  /* Asegura que todos los elementos tengan el mismo margen */
  display: flex;
  align-items: center;  /* Alinea los elementos verticalmente en el centro */
}

.user-dropdown {
  position: relative;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;  /* Alinea el nombre del usuario verticalmente en el centro */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  list-style: none;
  padding: 10px;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu li {
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}

.dropdown-menu li:hover {
  background-color: #444;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* Estilo del botón de hamburguesa */
.hamburger-menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}

/* Ocultar el menú en pantallas pequeñas */
@media (max-width: 677px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajusta según el navbar */
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger-menu {
    display: block; /* Mostrar el botón de hamburguesa */
  }
}


.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* Estilo para el enlace activo */
.navbar-links li a.active {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px; /* Grosor del subrayado */
  text-underline-offset: 5px; /* Espacio entre el texto y el subrayado */
}

/* Hover sigue funcionando para los enlaces no activos */
.navbar-links li a:hover:not(.active) {
  text-decoration: underline;
  text-decoration-thickness: 1px; /* Subrayado más fino para el hover */
}