.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 10px;  /* Añadí un padding extra para que se vea mejor */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo-title {
  display: flex;
  align-items: left;
}

.navbar-logo img {
  height: 40px;
}

.navbar-title {
  font-family: 'Poppins', sans-serif;  /* Una fuente moderna y estilizada */
  font-size: 24px;
  color: #fff;
  margin-left: 0px;  /* Espacio entre el logo y el título */
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 50px;
}

.navbar-links li a,
.logout-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.logout-link {
  cursor: pointer;
}

.logout-link:hover,
.navbar-links li a:hover {
  text-decoration: underline;
}
