/* Contenedor principal */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; /* Fondo de página */
}

/* Contenedor principal del login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

/* Imagen de fondo del panel */
.login-background {
  background-image: url('../../img/edp_panel.jpg'); /* Ruta correcta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenido del login */
.login-content {
  background-color: rgba(255, 255, 255, 0.95); /* Fondo semitransparente */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  text-align: center;
}

/* Estilo del título */
.login-content h1 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

/* Estilo de los inputs */
.login-content input[type="text"],
.login-content input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Estilo del botón */
.login-content button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efecto hover para el botón */
.login-content button:hover {
  background-color: #0056b3;
}

/* Estilo para la información de versión */
.version-info {
  margin-top: 15px;
  font-size: 12px;
  color: #666;
}

/* Información adicional */
.additional-info {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
  text-align: center;
}
