.afectado-card {
  width: 90%;
  max-width: 850px;
  margin: 15px auto;
  padding: 15px;
  border: 2px solid #1e88e5;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.afectado-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.afectado-card.normalizado {
  background-color: #d4edda;
  border-color: #28a745;
}

.afectado-card.seguimiento {
  background-color: #f8d7da;
  border-color: #dc3545;
}

.afectado-card.provisorio {
  background-color: #fff3cd;
  border-color: #ffc107;
}

.afectado-card.baja-potencial {
  background-color: #e2e3e5;
  border-color: #6c757d;
}

.afectado-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.afectado-id,
.afectado-origen,
.afectado-ct,
.afectado-cuenta {
  margin-right: 10px;
  margin-bottom: 5px;
}

.afectado-estado {
  font-style: italic;
  color: #777;
  flex-grow: 1;
  text-align: right;
}

.afectado-gestion {
  font-style: italic;
  color: #777;
  flex-grow: 1;
  text-align: right;
}

.afectado-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.afectado-duracion,
.afectado-reclamos,
.afectado-reiteraciones {
  flex-basis: 30%;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #555;
  /* background-color: rgb(228, 238, 147); */
}

.afectado-opciones {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.afectado-icono {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.afectado-icono.reclamos {
  background-color: #dd3309;
}

.afectado-icono.reiteraciones {
  background-color: #cf6113;
}

.afectado-icono.fae {
  background-color: #067713;
}

.afectado-icono.ge_propio {
  background-color: #20be08;
}

.afectado-icono.ami {
  background-color: #1b33ba;
}

.afectado-icono:hover {
  opacity: 0.8;
}

.afectado-adicional {
  font-size: 0.9rem;
  color: #666;
  margin-top: 10px;
  text-align: center;
}
