.dashboard {
    display: flex;
    justify-content: space-between;
    /* padding: 65px 0; */
    margin: 0;
    margin-top: 65px;
  }

  .dashboard-card {
    background-color: #45454e;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    flex: 1;
    margin: 0 7px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .dashboard-card:hover {
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra */
    background-color: #24b465; /* Cambia el color de fondo */
  }
  
  .dashboard-title {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  
  .dashboard-number {
    font-size: 30px;
    font-weight: bold;
    margin-top: -5px;
  }




