.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* overflow-y: unset; */
    /* height: 100vh; */
  }
  
  .modal-content {
    height: 80vh;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    animation: slide-in 0.3s forwards;
    overflow-y: auto;
    margin-top: 150px;
  }
  
  .close-button {
    position: absolute;
    top: 8px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    visibility: hidden;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .no-scroll {
    overflow: hidden;
  }