#boton {
  display: inline-block;
  padding: 12px 28px; /* Espaciado interno ajustado */
  background: linear-gradient(135deg, #4a7bdf, #3eb2ff); /* Degradado en tonos de azul */
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  font-size: 1.6em; /* Tama침o de fuente moderado */
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-position 0.4s ease;
  background-size: 150%; /* Tama침o de fondo ajustado */
  box-shadow: 0 5px 15px rgba(30, 50, 80, 0.3); /* Sombra m치s ligera y sutil */
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  margin-top: 5px;
  margin-left: 0px;
  background: #007bff;
  color: white; /* Texto blanco para un contraste limpio */
  border: none;
}

#boton:hover {
  background-position: right center;
  box-shadow: 0 8px 20px rgba(50, 80, 130, 0.4); /* Sombra m치s intensa en hover */
  /* transform: translateY(-2px) scale(1.05);  */
  background: #28c041;
}

#boton:active {
  transform: translateY(1px) scale(1);
  box-shadow: 0 4px 8px rgba(30, 50, 80, 0.4); /* Sombra reducida cuando est치 activo */
}

#boton::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s ease-in-out;
  z-index: 0;
}

#boton:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

#boton:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(60, 120, 200, 0.7); /* Sombra m치s destacada */
}

#boton-container {
  width: 70%;
}

#boton-normalizar {
  background-color: #a72048; /* Color espec칤fico */
  color: white;
  font-weight: bold;
  border-radius: 12px; /* Si quieres bordes m치s redondeados */
}

#boton-normalizar:hover {
  background-color: #cc335e; /* Color diferente al pasar el mouse */
}

#boton.especial {
  background-color: #a72048; /* Propiedades espec칤ficas */
}


/* 游늷 Ajuste de bot칩n en m칩viles */
@media (max-width: 480px) {
  #boton {
      font-size: 12px;
      padding: 8px;
  }
}
