#content {
  margin-top: 200px;
  /* overflow-y: auto; */
  height: calc(100vh - 180px);
  padding: 10px;
  padding-bottom: 60px; /* Ajusta este valor según la altura del footer */
}

.styled-table {
    border: 1px solid black; /* Aplica un borde sólido a toda la tabla */
    font-size: 10px;         /* Tamaño de la fuente */
    border-spacing: 0;       /* Elimina el espacio entre las celdas */
    border-collapse: separate; /* Mantiene los bordes separados */
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid black; /* Aplica el borde a cada celda */
    padding: 5px;            /* Espaciado interno de las celdas */
  }
  